RESEND_API_KEY=apiKeyDeResend
JWT_SECRET=claveQueCumplaHS256
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=bd_vacunacion
DB_URL=jdbc:postgresql://localhost:5432/bd_vacunacion
VITE_API_URL=http://localhost:8080/api/v1